.searchBar {
  display: flex;
  height: 46px;
  padding: 14px 16px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 50px;
  background: var(--Gray-100, #f8f8f9);
  width: 100%;
}

.inputBox {
  background: var(--Gray-100, #f8f8f9);
  width: 100%;
  outline: none;
  box-shadow: none;
}

.inputBox::placeholder {
  color: var(--Gray-800, #1d1e21);
  font-family: Neurial Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

.inputBox::-moz-placeholder {
  color: var(--Gray-800, #1d1e21);
  font-family: Neurial Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

.inputBox:not(:placeholder-shown) {
  color: var(--Gray-800, #1d1e21);
  font-family: Neurial Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 1;
}

.inputBox:not(:-moz-placeholder-shown) {
  color: var(--Gray-800, #1d1e21);
  font-family: Neurial Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 1;
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
